import java.util.*;
public class Temperature{
    public static void main(String[]args){
       Scanner sc=new Scanner(System.in);
       System.out.println("Enter your Temperature");
       float t=sc.nextInt();
       
       if(t<0){
           System.out.println("You have to wear winter clothes");
           System.out.println("Don't forget your gloves");}
           else if(t>=0 && t<=10){
           System.out.println("You have to wear warm clothes");
           System.out.println("Light jacket will be helpful");}
           else if(t>=11 && t<=20){
               System.out.println("You have to wear light clothes");
           System.out.println("Sunglass would be good idea");}
           else {
               System.out.println("You have to wear summer clothes");
           System.out.println("Carry sunscream for protect yourself");
           
           }
       }
    }
